
.price {
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-size: 22px;
  padding: 1px;
  margin-top: 0px;
  margin-left: 0px;
}

.name {
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: rgb(255, 79, 0);
  text-align: left;
  font-size: 20px;
  padding: 1px;
  margin-top: 0px;
  margin-left: 0px;
}

.address {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: rgb(130, 130, 130);
  text-align: left;
  font-size: 19px;
  padding: 1px;
  margin-top: 0px;
  margin-left: 0px;
}


.values {
  font-style: normal;
  text-decoration: none;
  color: rgb(92, 92, 92);
  font-size: 11px;
  padding: 1px;
  margin-top: 0px;
  margin-left: 0px;
}

a {
  text-decoration: none;
  }